# Объединение данных benchmark

Объединяем `bench_merged.csv` с `bench_with_metrics.csv` для добавления метрик к данным benchmark.

In [2]:
import pandas as pd
import numpy as np

# Загружаем данные
bench_merged = pd.read_csv('bench_merged.csv')
bench_with_metrics = pd.read_csv('bench_with_metrics.csv')

print(f"bench_merged: {bench_merged.shape}")
print(f"bench_with_metrics: {bench_with_metrics.shape}")
print("\nКолонки в bench_merged:")
print(bench_merged.columns.tolist())
print("\nКолонки в bench_with_metrics:")
print(bench_with_metrics.columns.tolist())

bench_merged: (41, 17)
bench_with_metrics: (13, 15)

Колонки в bench_merged:
['task_id', 'task_name', 'lightautoml', 'MLJAR_B', 'MLJAR_P', 'TPOT', 'constantpredictor', 'RandomForest', 'TunedRandomForest_star', 'AutoGluon_B', 'AutoGluon_HQ', 'AutoGluon_HQIL', 'autosklearn', 'autosklearn2', 'flaml', 'GAMA_B', 'H2OAutoML']

Колонки в bench_with_metrics:
['task_id', 'task_name', 'lightautoml', 'MLJAR_B', 'MLJAR_P', 'TPOT', 'constantpredictor', 'RandomForest', 'TunedRandomForest_star', 'dataset_size', 'num_features', 'num_cells', 'oof_score', 'train_score', 'test_score']

In [3]:
# Просматриваем первые строки
print("Первые строки bench_merged:")
bench_merged.head()

Первые строки bench_merged:

,task_id,task_name,lightautoml,MLJAR_B,MLJAR_P,TPOT,constantpredictor,RandomForest,TunedRandomForest_star,AutoGluon_B,AutoGluon_HQ,AutoGluon_HQIL,autosklearn,autosklearn2,flaml,GAMA_B,H2OAutoML
0,3945,KDDCup09...,0.851(0.012),-,0.837(0.015),0.831(0.017)2,0.500(0.000),0.796(0.018),0.795(0.021),0.849(0.013),0.848(0.013),0.848(0.013),0.838(0.015),0.838(0.014),0.825(0.017),0.818(0.020),0.837(0.014)
1,146818,Australi...,0.946(0.020),0.943(0.020),0.944(0.017),0.939(0.022),0.500(0.000),0.940(0.021),0.938(0.022),0.941(0.018),0.942(0.017),0.942(0.017),0.931(0.022),0.936(0.019),0.938(0.023),0.941(0.022)1,0.935(0.025)
2,146820,wilt,0.994(0.007),0.999(0.000)8,0.995(0.009),0.996(0.004),0.500(0.000),0.989(0.012),0.991(0.010),0.995(0.008),0.994(0.010),0.994(0.010),0.994(0.009),0.995(0.007),0.991(0.011),0.996(0.004),0.992(0.010)
3,167120,numerai2...,0.531(0.004),0.530(0.004),0.531(0.005),0.528(0.007),0.500(0.000),0.519(0.006),0.520(0.006),0.531(0.004),0.528(0.004),0.529(0.004),0.530(0.004),0.531(0.004),0.528(0.004),0.530(0.006),0.531(0.004)
4,168350,phoneme,0.966(0.008),-,0.967(0.008),0.969(0.008),0.500(0.000),0.965(0.009),0.966(0.009),0.968(0.009),0.968(0.009),0.968(0.009),0.963(0.009),0.970(0.009),0.972(0.008),0.971(0.010)2,0.968(0.009)

In [4]:
print("Первые строки bench_with_metrics:")
bench_with_metrics.head()

Первые строки bench_with_metrics:

,task_id,task_name,lightautoml,MLJAR_B,MLJAR_P,TPOT,constantpredictor,RandomForest,TunedRandomForest_star,dataset_size,num_features,num_cells,oof_score,train_score,test_score
0,359955,blood-tr...,0.753(0.058),-,0.753(0.053),0.724(0.102),0.500(0.000),0.686(0.064),0.686(0.065),748,5,3740,0.748834,0.750409,0.798246
1,146820,wilt,0.994(0.007),0.999(0.000)8,0.995(0.009),0.996(0.004),0.500(0.000),0.989(0.012),0.991(0.010),4839,6,29034,0.827222,0.942908,0.840254
2,168350,phoneme,0.966(0.008),-,0.967(0.008),0.969(0.008),0.500(0.000),0.965(0.009),0.966(0.009),5404,6,32424,0.957725,0.999833,0.942218
3,359956,qsar-bio...,0.934(0.034),0.932(nan)9,0.937(0.031),0.926(0.045),0.500(0.000),0.932(0.033),0.935(0.029),1055,42,44310,0.935135,0.980523,0.947384
4,359968,churn,0.926(0.020),0.928(0.021),0.925(0.019),0.919(0.025),0.500(0.000),0.916(0.023),0.912(0.021),5000,21,105000,0.931982,0.999161,0.935534

In [5]:
# Определяем колонки метрик, которые нужно добавить
# Исключаем колонки, которые уже есть в bench_merged (task_id, task_name и метрики алгоритмов)
metrics_columns = ['dataset_size', 'num_features', 'num_cells', 'oof_score', 'train_score', 'test_score']

# Выбираем только нужные колонки из bench_with_metrics
metrics_to_join = bench_with_metrics[['task_id'] + metrics_columns].copy()

print("Колонки для объединения:")
print(metrics_to_join.columns.tolist())
print(f"\nКоличество строк с метриками: {len(metrics_to_join)}")

Колонки для объединения:
['task_id', 'dataset_size', 'num_features', 'num_cells', 'oof_score', 'train_score', 'test_score']

Количество строк с метриками: 13

In [6]:
# Объединяем данные по task_id (left join, чтобы сохранить все строки из bench_merged)
bench_final = bench_merged.merge(metrics_to_join, on='task_id', how='left')

print(f"Результат объединения: {bench_final.shape}")
print(f"\nКолонки в финальном датасете: {len(bench_final.columns)}")
print(bench_final.columns.tolist())

Результат объединения: (41, 23)

Колонки в финальном датасете: 23
['task_id', 'task_name', 'lightautoml', 'MLJAR_B', 'MLJAR_P', 'TPOT', 'constantpredictor', 'RandomForest', 'TunedRandomForest_star', 'AutoGluon_B', 'AutoGluon_HQ', 'AutoGluon_HQIL', 'autosklearn', 'autosklearn2', 'flaml', 'GAMA_B', 'H2OAutoML', 'dataset_size', 'num_features', 'num_cells', 'oof_score', 'train_score', 'test_score']

In [7]:
# Проверяем результат
print("Первые строки объединенного датасета:")
bench_final.head(10)

Первые строки объединенного датасета:

,task_id,task_name,lightautoml,MLJAR_B,MLJAR_P,TPOT,constantpredictor,RandomForest,TunedRandomForest_star,AutoGluon_B,...,autosklearn2,flaml,GAMA_B,H2OAutoML,dataset_size,num_features,num_cells,oof_score,train_score,test_score
0,3945,KDDCup09...,0.851(0.012),-,0.837(0.015),0.831(0.017)2,0.500(0.000),0.796(0.018),0.795(0.021),0.849(0.013),...,0.838(0.014),0.825(0.017),0.818(0.020),0.837(0.014),NaN,NaN,NaN,NaN,NaN,NaN
1,146818,Australi...,0.946(0.020),0.943(0.020),0.944(0.017),0.939(0.022),0.500(0.000),0.940(0.021),0.938(0.022),0.941(0.018),...,0.936(0.019),0.938(0.023),0.941(0.022)1,0.935(0.025),690.0,15.0,10350.0,0.942120,0.973524,0.932936
2,146820,wilt,0.994(0.007),0.999(0.000)8,0.995(0.009),0.996(0.004),0.500(0.000),0.989(0.012),0.991(0.010),0.995(0.008),...,0.995(0.007),0.991(0.011),0.996(0.004),0.992(0.010),4839.0,6.0,29034.0,0.827222,0.942908,0.840254
3,167120,numerai2...,0.531(0.004),0.530(0.004),0.531(0.005),0.528(0.007),0.500(0.000),0.519(0.006),0.520(0.006),0.531(0.004),...,0.531(0.004),0.528(0.004),0.530(0.006),0.531(0.004),NaN,NaN,NaN,NaN,NaN,NaN
4,168350,phoneme,0.966(0.008),-,0.967(0.008),0.969(0.008),0.500(0.000),0.965(0.009),0.966(0.009),0.968(0.009),...,0.970(0.009),0.972(0.008),0.971(0.010)2,0.968(0.009),5404.0,6.0,32424.0,0.957725,0.999833,0.942218
5,168757,credit-g,0.796(0.037),-,0.785(0.046),0.791(0.052),0.500(0.000),0.801(0.038),0.799(0.035),0.796(0.041),...,0.796(0.041),0.788(0.039),0.794(0.033),0.779(0.048),1000.0,21.0,21000.0,0.846466,0.961778,0.751190
6,168868,APSFailu...,0.993(0.002),0.995(nan),0.992(0.002),0.989(0.004)1,0.500(0.000),0.991(0.002),0.992(0.003),0.993(0.002),...,0.992(0.001),0.992(0.002),0.990(0.003),0.993(0.002),NaN,NaN,NaN,NaN,NaN,NaN
7,168911,jasmine,0.880(0.018),0.885(0.016),0.886(0.019),0.886(0.013),0.500(0.000),0.888(0.016),0.888(0.017),0.886(0.018),...,0.888(0.017),0.887(0.016),0.891(0.013),0.887(0.018),2984.0,145.0,432680.0,0.870627,0.963562,0.875233
8,189354,airlines,0.727(0.002),0.731(0.002),0.730(0.002),0.722(0.002),0.500(0.000),0.661(0.002),0.661(0.002),0.732(0.002),...,0.727(0.002),0.731(0.002),0.717(0.007),0.731(0.002),NaN,NaN,NaN,NaN,NaN,NaN
9,189356,albert,0.780(0.003),0.783(0.003),0.765(0.003),0.718(0.014)1,0.500(0.000),0.738(0.003),0.738(0.002),0.782(0.002),...,0.737(0.003),0.770(0.002),0.726(0.006),0.761(0.003),NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Проверяем, сколько строк получили метрики
print(f"Всего строк: {len(bench_final)}")
print(f"Строк с метриками: {bench_final['dataset_size'].notna().sum()}")
print(f"Строк без метрик: {bench_final['dataset_size'].isna().sum()}")

# Показываем примеры строк с метриками и без
print("\nПримеры строк с метриками:")
bench_final[bench_final['dataset_size'].notna()][['task_id', 'task_name', 'dataset_size', 'num_features', 'num_cells']].head()

Всего строк: 41
Строк с метриками: 13
Строк без метрик: 28

Примеры строк с метриками:

   task_id    task_name  dataset_size  num_features  num_cells
1   146818  Australi...         690.0          15.0    10350.0
2   146820         wilt        4839.0           6.0    29034.0
4   168350      phoneme        5404.0           6.0    32424.0
5   168757     credit-g        1000.0          21.0    21000.0
7   168911      jasmine        2984.0         145.0   432680.0

In [9]:
b = bench_final[bench_final['dataset_size'].notna()]

In [10]:
b

,task_id,task_name,lightautoml,MLJAR_B,MLJAR_P,TPOT,constantpredictor,RandomForest,TunedRandomForest_star,AutoGluon_B,...,autosklearn2,flaml,GAMA_B,H2OAutoML,dataset_size,num_features,num_cells,oof_score,train_score,test_score
1,146818,Australi...,0.946(0.020),0.943(0.020),0.944(0.017),0.939(0.022),0.500(0.000),0.940(0.021),0.938(0.022),0.941(0.018),...,0.936(0.019),0.938(0.023),0.941(0.022)1,0.935(0.025),690.0,15.0,10350.0,0.942120,0.973524,0.932936
2,146820,wilt,0.994(0.007),0.999(0.000)8,0.995(0.009),0.996(0.004),0.500(0.000),0.989(0.012),0.991(0.010),0.995(0.008),...,0.995(0.007),0.991(0.011),0.996(0.004),0.992(0.010),4839.0,6.0,29034.0,0.827222,0.942908,0.840254
4,168350,phoneme,0.966(0.008),-,0.967(0.008),0.969(0.008),0.500(0.000),0.965(0.009),0.966(0.009),0.968(0.009),...,0.970(0.009),0.972(0.008),0.971(0.010)2,0.968(0.009),5404.0,6.0,32424.0,0.957725,0.999833,0.942218
5,168757,credit-g,0.796(0.037),-,0.785(0.046),0.791(0.052),0.500(0.000),0.801(0.038),0.799(0.035),0.796(0.041),...,0.796(0.041),0.788(0.039),0.794(0.033),0.779(0.048),1000.0,21.0,21000.0,0.846466,0.961778,0.751190
7,168911,jasmine,0.880(0.018),0.885(0.016),0.886(0.019),0.886(0.013),0.500(0.000),0.888(0.016),0.888(0.017),0.886(0.018),...,0.888(0.017),0.887(0.016),0.891(0.013),0.887(0.018),2984.0,145.0,432680.0,0.870627,0.963562,0.875233
11,190137,ozone-le...,0.930(0.018),-,0.929(0.019),0.928(0.026),0.500(0.000),0.920(0.036),0.921(0.033),0.933(0.016),...,0.927(0.026),0.922(0.019),0.925(0.030),0.930(0.020),2534.0,73.0,184982.0,0.911380,0.934834,0.912961
14,190411,ada,0.921(0.018),0.921(0.018),0.921(0.018),0.917(0.019),0.500(0.000),0.903(0.014),0.902(0.016),0.921(0.018),...,0.919(0.018),0.924(0.018),0.920(0.019),0.921(0.019),4147.0,49.0,203203.0,0.915548,0.920078,0.904523
16,359955,blood-tr...,0.753(0.058),-,0.753(0.053),0.724(0.102),0.500(0.000),0.686(0.064),0.686(0.065),0.758(0.046),...,0.756(0.049),0.730(0.042),0.753(0.036),0.764(0.041),748.0,5.0,3740.0,0.748834,0.750409,0.798246
17,359956,qsar-bio...,0.934(0.034),0.932(nan),0.937(0.031),0.926(0.045),0.500(0.000),0.932(0.033),0.935(0.029),0.942(0.032),...,0.936(0.027),0.930(0.031),0.936(0.032),0.939(0.034),1055.0,42.0,44310.0,0.935135,0.980523,0.947384
20,359965,kr-vs-kp,1.000(0.001),-,1.000(0.001),0.999(0.001),0.500(0.000),0.999(0.001),0.999(0.002),1.000(0.000),...,1.000(0.000),0.961(0.123),1.000(0.000),1.000(0.001),3196.0,37.0,118252.0,0.998845,0.999681,0.998850
23,359968,churn,0.926(0.020),0.928(0.021),0.925(0.019),0.919(0.025),0.500(0.000),0.916(0.023),0.912(0.021),0.922(0.021),...,0.920(0.024),0.922(0.023),0.920(0.023),0.925(0.022),5000.0,21.0,105000.0,0.931982,0.999161,0.935534
25,359972,sylvine,0.988(0.003),0.992(0.003),0.992(0.003),0.992(0.002),0.500(0.000),0.983(0.004),0.984(0.004),0.990(0.003),...,0.990(0.002),0.991(0.002),0.993(0.002)2,0.990(0.003),5124.0,21.0,107604.0,0.984086,0.999052,0.988856
27,359975,Satellite,0.986(0.025),-,0.993(0.007),0.984(0.038),0.500(0.000),0.985(0.029),0.984(0.031),0.996(0.005),...,0.995(0.007),0.978(0.041),0.996(0.003),0.979(0.033),5100.0,37.0,188700.0,0.981061,0.988416,0.969751

In [24]:
import re

# Приводим dataset_size и num_features к int (если NaN - оставим NaN)
b['dataset_size'] = b['dataset_size'].apply(lambda x: int(x) if pd.notna(x) else x)
b['num_features'] = b['num_features'].apply(lambda x: int(x) if pd.notna(x) else x)

# Приводим oof_score к округлённому формату (4 знака)
if 'oof_score' in b.columns:
    b['oof_score'] = b['oof_score'].apply(lambda x: round(float(x), 4) if pd.notna(x) else x)

# Список колонок с моделями
model_cols = [
    'lightautoml','MLJAR_B','MLJAR_P','TPOT','constantpredictor','RandomForest','TunedRandomForest_star',
    'AutoGluon_B','AutoGluon_HQ','AutoGluon_HQIL','autosklearn','autosklearn2','flaml','GAMA_B','H2OAutoML'
]

def extract_score(cell_str):
    """Извлекает float из строки вида '0.993(0.002)2' -> 0.993"""
    if isinstance(cell_str, str):
        m = re.match(r'^([-\d\.]+)', cell_str)
        if m:
            try:
                return float(m.group(1))
            except Exception:
                return float('nan')
    elif isinstance(cell_str, (float, int)):
        return float(cell_str)
    return float('nan')

# Для каждой строки определим место lightautoml по oof_score среди моделей
places = []
for idx, row in b.iterrows():
    scores = []
    # Собрать пары (colname, score) только если score парсится нормально
    for col in model_cols:
        score = extract_score(row.get(col, float('nan')))
        scores.append((col, score))
    # Можно ли вычислить место? (lightautoml может быть nan иногда)
    lm_score = extract_score(row.get('lightautoml', float('nan')))
    # Сортируем по убыванию
    ranked = sorted(scores, key=lambda x: (-x[1], x[0]))
    place = next((i+1 for i, (col, score) in enumerate(ranked) if col == 'lightautoml'), None)
    places.append(place)

b['place'] = places

# Добавляем колонку: кто из моделей топ-1 и побил lightautoml (если да)
beaten_by = []
score_diff = []

for idx, row in b.iterrows():
    model_scores = []
    for col in model_cols:
        val = extract_score(row.get(col, float('nan')))
        model_scores.append((col, val))
    # Определяем топ-1
    sorted_models = sorted(model_scores, key=lambda x: (-x[1], x[0]))
    max_score = sorted_models[0][1]
    best_model = sorted_models[0][0]  # только 1 имя, даже если у других тот же скор
    # lightautoml score
    our_score = extract_score(row.get('lightautoml', float('nan')))
    # Добавим beaten_by только если топ-1 ≠ lightautoml И топ-1 > наш скор
    if not pd.isna(our_score) and (best_model != 'lightautoml') and (max_score > our_score):
        beaten_by.append(best_model)
    else:
        beaten_by.append("")
    # Разница с топ-1 (знак сохраняется: результат > 0 если lightautoml хуже, < 0 если лучше)
    if our_score == max_score:  # мы на первом месте
        # Второй по величине скор (может быть несколько с одинаковым баллом)
        next_scores = [val for _, val in sorted_models if (not pd.isna(val)) and (val < max_score)]
        if next_scores:
            score_gap_val = our_score - next_scores[0]
        else:
            score_gap_val = 0.0
        score_gap = f"{score_gap_val:+.3f}"
        score_diff.append(score_gap)
    else:
        score_gap_val = our_score - max_score
        score_gap = f"{score_gap_val:+.3f}"
        score_diff.append(score_gap)

b['beaten_by'] = beaten_by
b['score_gap'] = score_diff

/var/folders/n7/qnb2yzw97rjf7x2362tbh_t00000gn/T/ipykernel_22878/4032744466.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b['dataset_size'] = b['dataset_size'].apply(lambda x: int(x) if pd.notna(x) else x)
/var/folders/n7/qnb2yzw97rjf7x2362tbh_t00000gn/T/ipykernel_22878/4032744466.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b['num_features'] = b['num_features'].apply(lambda x: int(x) if pd.notna(x) else x)
/var/folders/n7/qnb2yzw97rjf7x2362tbh_t00000gn/T/ipykernel_22878/4032744466.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b['oof_score'] = b['oof_score'].apply(lambda x: round(float(x), 4) if pd.notna(x) else x)
/var/folders/n7/qnb2yzw97rjf7x2362tbh_t00000gn/T/ipykernel_22878/4032744466.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b['place'] = places
/var/folders/n7/qnb2yzw97rjf7x2362tbh_t00000gn/T/ipykernel_22878/4032744466.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b['beaten_by'] = beaten_by
/var/folders/n7/qnb2yzw97rjf7x2362tbh_t00000gn/T/ipykernel_22878/4032744466.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b['score_gap'] = score_diff

In [26]:
b

,task_id,task_name,lightautoml,MLJAR_B,MLJAR_P,TPOT,constantpredictor,RandomForest,TunedRandomForest_star,AutoGluon_B,...,H2OAutoML,dataset_size,num_features,num_cells,oof_score,train_score,test_score,place,beaten_by,score_gap
1,146818,Australi...,0.946(0.020),0.943(0.020),0.944(0.017),0.939(0.022),0.500(0.000),0.940(0.021),0.938(0.022),0.941(0.018),...,0.935(0.025),690,15,10350.0,0.9421,0.973524,0.932936,1,,+0.002
2,146820,wilt,0.994(0.007),0.999(0.000)8,0.995(0.009),0.996(0.004),0.500(0.000),0.989(0.012),0.991(0.010),0.995(0.008),...,0.992(0.010),4839,6,29034.0,0.8272,0.942908,0.840254,10,MLJAR_B,-0.005
4,168350,phoneme,0.966(0.008),-,0.967(0.008),0.969(0.008),0.500(0.000),0.965(0.009),0.966(0.009),0.968(0.009),...,0.968(0.009),5404,6,32424.0,0.9577,0.999833,0.942218,1,,+0.001
5,168757,credit-g,0.796(0.037),-,0.785(0.046),0.791(0.052),0.500(0.000),0.801(0.038),0.799(0.035),0.796(0.041),...,0.779(0.048),1000,21,21000.0,0.8465,0.961778,0.751190,1,,+0.002
7,168911,jasmine,0.880(0.018),0.885(0.016),0.886(0.019),0.886(0.013),0.500(0.000),0.888(0.016),0.888(0.017),0.886(0.018),...,0.887(0.018),2984,145,432680.0,0.8706,0.963562,0.875233,14,GAMA_B,-0.011
11,190137,ozone-le...,0.930(0.018),-,0.929(0.019),0.928(0.026),0.500(0.000),0.920(0.036),0.921(0.033),0.933(0.016),...,0.930(0.020),2534,73,184982.0,0.9114,0.934834,0.912961,1,,+0.001
14,190411,ada,0.921(0.018),0.921(0.018),0.921(0.018),0.917(0.019),0.500(0.000),0.903(0.014),0.902(0.016),0.921(0.018),...,0.921(0.019),4147,49,203203.0,0.9155,0.920078,0.904523,6,flaml,-0.003
16,359955,blood-tr...,0.753(0.058),-,0.753(0.053),0.724(0.102),0.500(0.000),0.686(0.064),0.686(0.065),0.758(0.046),...,0.764(0.041),748,5,3740.0,0.7488,0.750409,0.798246,1,,+0.006
17,359956,qsar-bio...,0.934(0.034),0.932(nan),0.937(0.031),0.926(0.045),0.500(0.000),0.932(0.033),0.935(0.029),0.942(0.032),...,0.939(0.034),1055,42,44310.0,0.9351,0.980523,0.947384,9,AutoGluon_B,-0.008
20,359965,kr-vs-kp,1.000(0.001),-,1.000(0.001),0.999(0.001),0.500(0.000),0.999(0.001),0.999(0.002),1.000(0.000),...,1.000(0.001),3196,37,118252.0,0.9988,0.999681,0.998850,1,,+0.001
23,359968,churn,0.926(0.020),0.928(0.021),0.925(0.019),0.919(0.025),0.500(0.000),0.916(0.023),0.912(0.021),0.922(0.021),...,0.925(0.022),5000,21,105000.0,0.9320,0.999161,0.935534,2,MLJAR_B,-0.002
25,359972,sylvine,0.988(0.003),0.992(0.003),0.992(0.003),0.992(0.002),0.500(0.000),0.983(0.004),0.984(0.004),0.990(0.003),...,0.990(0.003),5124,21,107604.0,0.9841,0.999052,0.988856,12,GAMA_B,-0.005
27,359975,Satellite,0.986(0.025),-,0.993(0.007),0.984(0.038),0.500(0.000),0.985(0.029),0.984(0.031),0.996(0.005),...,0.979(0.033),5100,37,188700.0,0.9811,0.988416,0.969751,1,,+0.001

In [25]:
b[['task_id', 'task_name', 'oof_score', 'place', 'beaten_by', 'score_gap']]

    task_id    task_name  oof_score  place    beaten_by score_gap
1    146818  Australi...     0.9421      1                 +0.002
2    146820         wilt     0.8272     10      MLJAR_B    -0.005
4    168350      phoneme     0.9577      1                 +0.001
5    168757     credit-g     0.8465      1                 +0.002
7    168911      jasmine     0.8706     14       GAMA_B    -0.011
11   190137  ozone-le...     0.9114      1                 +0.001
14   190411          ada     0.9155      6        flaml    -0.003
16   359955  blood-tr...     0.7488      1                 +0.006
17   359956  qsar-bio...     0.9351      9  AutoGluon_B    -0.008
20   359965     kr-vs-kp     0.9988      1                 +0.001
23   359968        churn     0.9320      2      MLJAR_B    -0.002
25   359972      sylvine     0.9841     12       GAMA_B    -0.005
27   359975    Satellite     0.9811      1                 +0.001

In [ ]:
# Сохраняем результат в новый файл
bench_final.to_csv('bench_merged.csv', index=False)
print("Файл bench_merged.csv обновлен!")
print(f"Финальный размер: {bench_final.shape}")